*{
margin:0px;
padding:0px;
box-sizing:border-box;
}


body{
background-color:#F7F7F8; 
display:flex;
justify-content:center;
align-content:center;
}


.mainDiv{
margin-top:150px;
padding:50px;
}
